body{
  background: #ffffff;
  color: black;
  margin: 0px;
  padding: 0px;
  font-family: arial;
}
canvas{
  margin-left: auto;
  margin-right: auto;
}
input{
  padding: 2px;
  margin: 2px;
}
#wrap_main{
  background: #8f8f8f;
  padding:10px;
}
#wrap_canvas{
  background: #afafaf;
  /*height: 240px;*/
  width: 100%;
}
#wrap_playpack{}
#wrap_video_code{}
.wrap_ui{
  padding: 10px;
  line-height: 25px;
}
.wrap_ui_playback{
  background: #888800;
}
.wrap_ui_video_code{
  background: #008888;
}
.textarea_js{
   width: 100%;
   height: 640px;
   margin-top: 2px;
}